// @mixin flexRowGap($dFlex, $direction, $gapSize) {
//   display: $dFlex;
//   flex-direction: $direction;
//   gap: $gapSize;
// }

// .wapperThisLayout {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   padding: 50px;
// }

// .borderContext {
//   border: 5px solid rgb(90, 131, 245);
//   font-size: 50px;
//   font-weight: bold;

//   height: 100px;

//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .bodyWapper {
//   @include flexRowGap(flex, row, 10px);

//   .leftBox {
//     flex-basis: 70%;
//   }

//   .rightBox {
//     flex-basis: 30%;
//   }
// }

// .footerWapper {
//   @include flexRowGap(flex, row, 10px);
  
//   @media screen and (max-width: 426px) {
//     flex-direction: column;
//   }

//   .leftBox {
//     flex-basis: 30%;
//   }

//   .rightBox {
//     flex-basis: 70%;
//   }
// }

.wapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .box {
      border: 5px solid blue;

      display: flex;
      flex-basis: 100%;
      justify-content: center;
      align-items: center;

      font-size: 50px;
      font-weight: bold;
    }
 
    .box70 {
      flex-basis: 70%;
    }
    .box30 {
      flex-basis: 30%;
    }
  }

  .mobileColumn {
    @media screen and (max-width: 426px) {
      flex-direction: column; 
    }
  }
}